# Ignore everything
/*

# Main files
!ifstype/
!latex/*.tex
!latex/*.pdf
!Makefile
!.gitignore
!README.rst


# test
!test.py
!ifs_examples.py

# and ignore more things
*/**/__pycache__
.DS_Store
*.swp
